<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Thresholding</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container">
            <span class="navbar-brand fw-bold fs-3 ms-2">
                PnlhaiCSE
            </span>
            <a href="/" class="me-3 backhome">
                &lt;&lt; Go to Home Page
            </a>
        </div>
    </nav>

    <div class="app">
        <!-- SIDEBAR -->
        <aside class="sidebar p-3">
            <div class="d-flex justify-content-center align-items-center">
                <h5 class="fw-bold mb-4 fst-italic">Xử lý ảnh</h5>
            </div>

            <!-- Upload -->
            <div class="mb-4">
                <label for="imageInput" class="form-label">Upload ảnh</label>
                <input id="imageInput" type="file" name="avatar" class="form-control"
                    accept=".png,.jpg,.jpeg,.bmp,.tif,.tiff">
            </div>

            <!-- Method -->
            <div class="mb-4">
                <label class="form-label" for="method">Phương pháp</label>

                <select id="method" class="form-select">
                    <option value="global">Global Threshold</option>
                    <option value="otsu">Otsu</option>
                    <option value="adaptive">Adaptive Threshold</option>
                </select>
            </div>

            <!-- GLOBAL -->
            <div id="globalPanel" class="param-panel">
                <label class="form-label">Threshold</label>
                <input id="threshold" type="range" class="form-range" min="0" max="255" value="127">

                <div class="d-flex justify-content-between">
                    <span>0</span>
                    <strong id="thresholdValue">127</strong>
                    <span>255</span>
                </div>
            </div>

            <!-- OTSU -->
            <div id="otsuPanel" class="param-panel d-none">
                <div class="alert alert-info">
                    <strong>Otsu tự động</strong>
                    <br>
                    Threshold được tính tự động
                    từ histogram.
                </div>

                <div class="text-center">
                    <small>Threshold</small>
                    <h2 id="otsuValue">
                        --
                    </h2>
                </div>
            </div>

            <!-- ADAPTIVE -->
            <div id="adaptivePanel" class="param-panel d-none">
                <label class="form-label">Block Size</label>
                <input id="blockSize" type="range" class="form-range" min="3" max="51" step="2" value="11">

                <div class="text-center mb-3">
                    <strong id="blockSizeValue">11</strong>
                </div>

                <label class="form-label" for="cValue">C</label>
                <input id="cValue" type="range" class="form-range" min="-20" max="20" value="2">

                <div class="text-center mb-3">
                    <strong id="cText">2</strong>
                </div>

                <label class="form-label" for="adaptiveMethod">Thuật toán</label>
                <select id="adaptiveMethod" class="form-select">
                    <option value="mean">Mean</option>
                    <option value="gaussian" selected>Gaussian</option>
                </select>
            </div>

            <button id="processBtn" class="btn btn-primary w-100 mt-4" disabled>
                Xử lý ảnh
            </button>

            <button id="downloadBtn" class="btn btn-outline-secondary w-100 mt-2" disabled>
                Tải kết quả
            </button>

            <div id="message" class="mt-3"></div>
        </aside>


        <!-- MAIN -->
        <main class="content p-4">
            <!-- IMAGES -->
            <div class="row g-4">
                <!-- ORIGINAL -->
                <div class="col-lg-6">
                    <div class="card image-card">
                        <span class="card-header fw-bold">Ảnh gốc</span>
                        <div class="card-body image-box">

                            <div id="originalEmpty" class="empty-text">
                                Chưa có ảnh
                            </div>

                            <img id="originalImage" class="preview-img d-none" alt="Ảnh gốc">
                        </div>
                    </div>
                </div>

                <!-- RESULT -->
                <div class="col-lg-6">
                    <div class="card image-card">
                        <span class="card-header fw-bold">Kết quả</span>
                        <div class="card-body image-box">

                            <div id="resultEmpty" class="empty-text">
                                Chưa có kết quả
                            </div>

                            <img id="resultImage" class="preview-img d-none" alt="Ảnh kết quả">

                        </div>
                    </div>
                </div>
            </div>

            <!-- HISTOGRAM -->
            <div class="card mt-4">
                <div class="card-header fw-bold">
                    Original Histogram
                </div>
                <div class="card-body">
                    <canvas id="histogram" height="150"></canvas>
                </div>
            </div>

            <!-- STATISTICS -->
            <div class="row g-3 mt-1">
                <div class="col-md-2">
                    <div class="stat-card">
                        <small>Threshold</small>

                        <h4 id="resultThreshold">
                            --
                        </h4>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="stat-card">
                        <small>Pixel đen (0)</small>

                        <h4 id="blackPct">
                            --
                        </h4>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="stat-card">
                        <small>Pixel trắng (255)</small>

                        <h4 id="whitePct">
                            --
                        </h4>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="stat-card">
                        <small>Processing time</small>

                        <h4 id="processTime">
                            --
                        </h4>

                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>